extends ../_layout

block content

  .container
    .omb_login
      h3.omb_authTitle Log In
      .row.omb_row-sm-offset-3.omb_socialButtons
        .col-xs-4.col-sm-2
          a.btn.btn-lg.btn-block.omb_btn-facebook(href='/auth/github')
            i.fa.fa-github.visible-xs
            span.hidden-xs Github
        .col-xs-4.col-sm-2
          a.btn.btn-lg.btn-block.omb_btn-twitter(href='/auth/facebook')
            i.fa.fa-twitter.visible-xs
            span.hidden-xs Facebook
        .col-xs-4.col-sm-2
          a.btn.btn-lg.btn-block.omb_btn-vk(href='/auth/vk')
            i.fa.fa-vk.visible-xs
            span.hidden-xs Vkontakte
      .row.omb_row-sm-offset-3.omb_loginOr
        .col-xs-12.col-sm-6
          hr.omb_hrOr
          span.omb_spanOr or
      .row.omb_row-sm-offset-3
        .col-xs-12.col-sm-6
          form.omb_loginForm(method='POST')
            input(type='hidden' name='_csrf' value=csrfToken)
            .input-group
              span.input-group-addon
                i.fa.fa-user
              input.form-control(type='email' name='email' placeholder='E-mail' required)
            span.help-block
            .input-group
              span.input-group-addon
                i.fa.fa-lock
              input.form-control(type='password' name='password' placeholder='Password' required)
            span.help-block                                      
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Login

