extends ../_layout

block content

  .container
    form.form-horizontal(method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      fieldset
        
        legend.text-center= title
        
        .form-group
          label.col-md-4.control-label(for='first-name-field') First name
          .col-md-4
            input#first-name-field.form-control.input-md(name='first_name' type='text' placeholder='John' required)
        
        .form-group
          label.col-md-4.control-label(for='last-name-field') Last name
          .col-md-4
            input#last-name-field.form-control.input-md(name='last_name' type='text' placeholder='Smith' required)
        
        .form-group
          label.col-md-4.control-label(for='skills-field') Select skills
          .col-md-4
            select#skills-field.form-control(name='skills' multiple)
              for skill in skills
                option(value=skill.id)= skill.title

        .form-group
          label.col-md-4.control-label(for='about-field') About
          .col-md-4
            textarea(rows='10')#about-field(name='about')

        .form-group
          label.col-md-4.control-label(for='rate-field') Rate ($ / hour)
          .col-md-4
            input#rate-field.form-control.input-md(name='rate' type='number' min=0 placeholder='100')
        
        .form-group
          label.col-md-4.control-label(for='email') E-mail
          .col-md-4
            input#email.form-control.input-md(name='email' type='text' placeholder='john.smith@mail.com' required)
        
        .form-group
          label.col-md-4.control-label(for='passwordinput') Password
          .col-md-4
            input#passwordinput.form-control.input-md(name='password' type='password' placeholder='Enter your password' required)
        
        .form-group
          label.col-md-4.control-label(for='confirmPassword') Repeat password 
          .col-md-4
            input#confirmPassword.form-control.input-md(name='confirmPassword' type='password' placeholder='Repeat your password' required)
        
        .form-group
          label.col-md-4.control-label(for='register-btn')         
          .col-md-4
              button#register-btn.btn.btn-primary(type='submit') Register


