extends /_layout

block content
    form(method='post' class='delete-form')
        input(type='hidden' name='_csrf' value=csrfToken)
        p Delete skill "#{skill.title}" ?
        a.btn.btn-primary(href='/admin/skills') Cancel
        span &nbsp;&nbsp;        
        button.btn.btn-danger(type='submit') Delete