extends /_layout

block content
    form(method='post' class='delete-form')
        p Delete user "#{user.full_name}" ?
        a.btn.btn-primary(href='/admin/users') Cancel
        span &nbsp;&nbsp;        
        button.btn.btn-danger(type='submit') Delete