extends ../_layout

include ../_mixins/mentor-card

block content
  .container
    .row
      include /_includes/sidebar
      .col-xs-6.col-sm-9
        .panel.panel-default.user_panel
        .panel-heading
            h3.panel-title= title
        .panel-body
          if mentors.length
            .col-xs-12.col-md-9
              for mentor in mentors
                +mentor-card(mentor)
          else
            p No results found   