extends /_layout

block content
  h1= title

  .col-md-3  
    ul.list-group
      li.list-group-item
        a(href="/admin/skills") Skills
      li.list-group-item
        a(href="/admin/users") Users